<%= div_map @spots_with_quests, :wide %>

<%= div_spacer %>

<%= div_magic %>
  <%= div_second_magic %>

    <%= format_navigation ['New quest', new_quest_path] %>

    <h2>All quests</h2>

    <%= format_list @quests %>

  </div>
</div>