<div id="left">
<h2>Print your own Stickers for free</h2>
<ul>
	<li>Download the <%= link_to "sticker pdf", "/files/urbantakeover_a4_ohai.pdf" %></li>
	<li>Get Sticker Paper for your printer <%= todo "link to the correct zweckform paper on amazon" %></li>
	<li>Print your own stickers :)</li>
</ul>

<%= todo "generate a custom sticker pdf in your colour"%>

</div>

<div id="right">
	<h2>Order Stickers from us</h2>

	We suggest 50 Stickers for 4,- €, but while we're in beta you can pay as you wish (even <em>get them for free</em>).
	
	<%= todo "we don't link your address to your user account for privacy reasons. if you'd like us to connect your urbantakeover user and your address - to not have to write your address here every time you want to order stickers:"%>
	
	<%= error_messages_for :order %>

	<% form_for(@order, :url=> {:controller => 'sticker', :action => 'index'}) do |f| %>
	  <p>
	    Name:<br/> <%= f.text_field :name %>
	  </p>
	  
	  <p>
	    Street:<br/> <%= f.text_field :street %>
	  </p>

	  <p>
	    Zip-Code &amp; City:<br/> <%= f.text_field :city %>
	  </p>

<div style="color: #666">
	  <p>
	    Country: <span class="small">(optional)</span><br/> <%= f.text_field :country %>
	  </p>
 	  
 	  <p>
		  Personal Note / Request / Comment: <span class="small">(optional)</span><br/> <%= f.text_area :text, :rows => 3 %>
		</p>
		
		<p>
	    E-Mail: <span class="small">(optional, if you have questions)</span><br/> <%= f.text_field :email, :value => (logged_in? ? current_user.email : '') %>
	  </p>
	</div>
	
	  <p>
	    <%= f.submit "Order" %>
	  </p>
	<% end %>
	

</div>