<h1>New spot</h1>

<%= error_messages_for :spot %>

<% form_for(@spot, :url=>{:controller => :spots, :action => :create}) do |f| %>
  <p>
    Name: <%= f.text_field :name %>
  </p>
  
  <p>
    Code: <%= f.text_field :code %>
  </p>

  <p>
    Address: <%= f.text_field :address %> or geolocation: <%= f.text_field :geolocation_x %> <%= f.text_field :geolocation_y %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= link_to 'Back', spots_path %>
