<div style="float: left;">
<h1><%= @spot.name %></h1>

<p>Geolocation: <%= @spot.geolocation_x %> <%= @spot.geolocation_y %></p>

<p>Current owner: <%= @spot.current_owner.login %></p>

<h2>Log</h2>
TODO: show log of who crossed who here

<h2>Images</h2>
TODO: fetch from flickr tag
TODO: let users upload (with their stickers on the foto ^__^)

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
</div>
<div style="float: left">
<%= render :partial => 'map/view', :locals => {:spots => @spots} %>
</div>