<%= div_magic %>
  <%= div_second_magic %>
    <h2>Choose one of</h2>
    <%= todo "TODO: format those as big buttons"%>
    | <%= link_to 'teams', teams_path %>
    | <%= link_to 'cities', cities_path %>
    | <%= link_to 'hotspots', hotspots_path %>
  </div>
</div>