
<div id="top">
  <%= show_map @spots, :wide %>
</div>
<div id="subtop">
  <span id="info">
	<%= render :partial => 'claims/today', :locals => {:claim => @claims_today} %>
   <!-- |  <%= render :partial => 'claims/crosses_week', :locals => {:crosses => @crosses_week} %> --> 
   | <%= render :partial => 'claims/num_claims', :locals => {:claims => @num_claims} %>
   | <%= render :partial => 'claims/last', :locals => {:claim => @last_claim} %></span>
	</span>
	<br/>
</div>

<div id="desc">
  <div id="left">
  <h2>What's going on?</h2>
  <%= render :partial => 'claims/log', :locals => {:claims => @recent_claims} %>
  <p><%= link_to "full log", :controller => :claims, :action => :log %></p>
  </div>
  <div id="right">
    <h2>Newest Image Proofs:</h2>
  <%= render_partial 'proof/flickr' %>
  </div>
</div>