<% for claims in sort_claims_to_days(claims) %>
  <h3><%= "%d. %s" % [claims[0].created_at.day, claims[0].created_at.month] %></h3>
  <ul>
  <% for claim in claims %>
    <li>
    <% if claim.crossed_claim %>
            <%= format_user claim.user %> crossed <%= format_user claim.crossed_claim.user %> at <%= format_spot claim.spot %>
    <% else %>
      <%= format_user claim.user %> claimed <%= format_spot claim.spot %>  
    <% end %>
      at <%= "%02d:%02d" % [claim.created_at.hour, claim.created_at.min] %></li>
  <% end %>
  </ul>
<% end %>