<div class="span-24 lrborder last">

  <div class="span-9 push-1 colborder">
  <h2>Highscore</h2>  
  <h3>Teams</h3>
  <ol>
  <% for team in @teams %>
    <li>
      <%= format_team team %>: <%= team.score %> points
    </li>
  <% end %>
  </ol>
  <h3>Users</h3>
  <ol>
  <% for user in @users %>
    <li>
    <%= format_user user %>: <%= user.score %> points
    <%= sparkline user.claims_for_last_days_grouped_by_day(14).collect {|claims| claims.size} %>
    </li>
  <% end %>
  </ol>
  </div>

  <div class="span-13 last">
  <h2>All Spots</h2>
  <%= show_map @spots, :normal %>
  </div>

</div>