<div id="left">  
  <h2>Highscore</h2>  
  <h3>Teams</h3>
  <ol>
  <% for team in @teams %>
    <li>
      <%= format_team team %>: <%= team.score %> points
    </li>
  <% end %>
  </ol>

  <h3>Users</h3>

  <ol>
  <% for user in @users %>
    <li>
    <%= format_user user %>: <%= user.score %> points
<%
def sparkline data
  s = GoogleChart.sparkline(*data)
  s.height = 12
  s.width = data.size*3
  "<img src=\"#{s.to_url}\"/>"
end
%>
    <%= sparkline user.claims_for_last_days_grouped_by_day(14).collect {|claims| claims.size} %>
    </li>
  <% end %>
  </ol>
  
  <%= link_to "show all", :controller => "user", :action => "list" %>
</div>

<div id="right">
  <h2>All Spots</h2>

  <%= show_map @spots %>

  <p>Show <%= link_to "all", :controller => 'claims', :action => 'all' %></p>
  
  <%= render_partial 'proof/flickr' %>
</div>