<h2>My claims</h2>

<h3>Currently owned spots</h3>

<%= render(:partial => 'my_spots', :locals => {:user => current_user}) %>

<h3>Claim log</h3>
  
<ul>
<% for claim in @claims %>
  <li>
    <%=h claim.spot.name  %> since <%= interval_to_now claim.created_at %>
    <% if claim.spot.current_owner != current_user %>
      <ul>
      <li>
        <% reclaim = claim.spot.first_claim_after(claim) %>
        spot lost to <%= reclaim.user.login %> after <%= format_interval(reclaim.created_at - claim.created_at) %>. <%= link_to 'spot history', :controller => :spot, :action => :history, :id => claim.spot %>
      </li>
      </ul>
    <% end %>
  </li>
<% end %>
</ul>