
<h2>Do what?</h2>

<h3>Claim a known spot</h3>
<% form_tag do %>
  claim <%= text_field_tag 'target', 'spot or address' %>
  <%= submit_tag 'go' %>
<% end %>

<h3>Claim a new spot in the city</h3>
<% form_tag do %>
  claim <%= text_field_tag 'spot', 'spot' %> @ <%= text_field_tag 'address', 'address' %>
  <%= submit_tag 'go' %>
<% end %>

<h3>Command</h3>
<% form_tag do %>
  <%= text_field_tag 'command', '' %>
  <%= submit_tag 'go' %>
<% end %>

<h2>Need help?</h2>
<p>No worries; instructions are <em><%= link_to 'here', howto_path %></em>.</p>