
<%= render :partial => 'commandline' %>

<!-- 
<%= error_messages_for :user %>

<h1>I hereby declare...</h1>

<% form_for :user do |f| -%>
  <p>That I, <b><%= current_user.login %></b>, using Sticker No. <%= f.text_field :sticker_code %></p>
  
  <ul style="list-style-type: lower-alpha;">
  <li>claimed the Spot with code <%= f.text_field :spot_code %></li>
  <li>crossed the Sticker with No. <%= f.text_field :crossed_sticker_code %>
  <li>tagged the Address <%= f.text_field :address %></li>
  </ul>
  
  <p>and now it's mine.</p> 
  
  <%= submit_tag "Sticker up, y0!" %>
  
  <p><i>PS: I know if I am cheating, people are going to <strong>kick my ass</strong>.</i></p>
<% end -%>

-->