<div style="border: 1px solid #999; color: #999; background-color: #eee; padding: 3px;">
+ Fresh: The <%=link_to "Urban Takeover Application", app_path %><br/>
+ <%= link_to "Get Stickers", stickers_path %></div>

<div style="float: left; width: 450px;">
  <h2>What's going on?</h2>
  <%= render :partial => 'claims/log', :locals => {:claims => @recent_claims} %>
  <p><%= link_to "full log", :controller => :claims, :action => :log %></p>
</div>

<div style="float: left; width: 450px;">
  <h2>Spots</h2>

  <%= show_map %>
  
  <%= render_partial 'proof/flickr' %>
</div>