<div id="left">  
<!--  <h2>What's new?</h2>
  <div id="twitter_div" class="infobox"><ul id="twitter_update_list"><li></li></ul></div> -->
  
  <h2>What's going on?</h2>
  <%= render :partial => 'claims/log', :locals => {:claims => @recent_claims} %>
  <p><%= link_to "full log", :controller => :claims, :action => :log %></p>
</div>

<div id="right">
  <p style="float: right;"> <%= link_to "show all", :controller => 'claims', :action => 'all' %></p>
  <h2>Newest Spots</h2>

  <%= show_map @recent_spots %>
  
  <%= render_partial 'proof/flickr' %>
</div>