<div id="left">
  <h2>What's new?</h2>
  <div class="infobox">
  <ul>
    <li>Find <%=link_to "Hotspots", hotspots_path %></li>
    <li>Sry, map is b0rked. We're working on an improved one.</li>
  </ul></div>
  
  <h2>What's going on?</h2>
  <%= render :partial => 'claims/log', :locals => {:claims => @recent_claims} %>
  <p><%= link_to "full log", :controller => :claims, :action => :log %></p>
</div>

<div id="right">
  <h2>Spots</h2>

  <%= show_map %>
  
  <%= render_partial 'proof/flickr' %>
</div>