<div id="left">  
  <h2>What's new?</h2>
  <div id="twitter_div" class="infobox"><ul id="twitter_update_list"><li><img src="/images/throbber.gif"/></li></ul></div>
  
  <h2>What's going on?</h2>
  <%= render :partial => 'claims/log', :locals => {:claims => @recent_claims} %>
  <p><%= link_to "full log", :controller => :claims, :action => :log %></p>
</div>

<div id="right">
  <h2>New Spots</h2>

  <%= show_map @recent_spots %>
  <p>Show <%= link_to "all", :controller => 'map', :action => 'all' %></p>
  
  <%= render_partial 'proof/flickr' %>
</div>