<div id="left">
  <!--
  <h2>What's new?</h2>
  <div style="border: 1px solid #999; color: #999; background-color: #eee; padding: 3px;">
  + The <%=link_to "Urban Takeover Application", app_path %><br/>
  + Get <%= link_to "Stickers", stickers_path %></div>
  <%= todo 'add twitter widget as feature reminder thingy.' %>
  -->
  
  <h2>What's going on?</h2>
  <%= render :partial => 'claims/log', :locals => {:claims => @recent_claims} %>
  <p><%= link_to "full log", :controller => :claims, :action => :log %></p>
</div>

<div id="right">
  <h2>Spots</h2>

  <%= show_map %>
  
  <%= render_partial 'proof/flickr' %>
</div>