
		<div id="top">
		<ul>
			<li><img id="logo" src="./images/logo_green.gif"></li>
			<li><%= show_small_map @spots %></li>
			<li><div id="img"><%= render :partial => 'welcome/randomimage', :locals => {:num => @num} %></div></li>
		</ul>		
		</div>
		<div id="subtop">
    <span id="info">
	  <%= render :partial => 'claims/today', :locals => {:claim => @claims_today} %>
	   <!-- |  <%= render :partial => 'claims/crosses_week', :locals => {:crosses => @crosses_week} %> | -->
    | <%= render :partial => 'claims/num_claims', :locals => {:claims => @num_claims} %>  
	  | <%= render :partial => 'claims/last', :locals => {:claim => @last_claim} %></span>
			<span id="login"><%= link_to 'log in', login_url %>
		</span>
			<br/>
		</div>
		
		<div id="desc">
		  <div style="width: 300px;margin-left: auto;margin-right:auto;margin-top:40px;">
			<h1>Hi there!</h1>
      We are small group of hackers in Vienna.<br/>
      This project is still a very early prototype - <br/>
      You may <%= link_to 'login', login_url %> - <br/>
      <br/><%= link_to 'Join Now', signup_url %> or order some <%= link_to 'Stickers', sticker_url %>!
			</div>
		</div>