<h2><%= format_team @team %></h2>

<p>Team score: <%= @team.score %>
<!--<p>Global Team rank: <%= @team.rank %>-->

<ul>
<% for user in @team.users %>
  <li><%= format_user user %> <%= format_user_score user%></li>
<% end %>
</ul>