<h2>y0! login required. (Or <%= link_to "sign up", :controller => :user, :action => :signup %>!)</h2>

<% if request.post? %>
  <em>Forgot your password? <%= link_to "Recover!", :action => 'forgot_password' %></em>
<% end %>

<% form_tag do -%>
<p><label for="login">Username or E-Mail</label><br/>
<%= text_field_tag 'login', params[:login] %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>