<div class="span-24 lrborder">
  <div class="span-23 push-1">
    <h2><%= format_user @user %> <% if @user.team %> of team <%= format_team @user.team %> <% end -%></h2>
    
    <% if logged_in? and current_user.is_admin? %>
      <%= link_to 'edit', :action => :edit, :id => @user %> |
    <% end %>
    <%= link_to "add as friend", :controller => 'user', :action => 'add_friend', :id => @user.id %>

    <h2>Score: <%= format_user_score @user %></h2>

    <div class="span-10 colborder">
      <div class="box">
      <h3>Spots</h3>
      <%= render(:partial => 'claims/my_spots', :locals => {:user => @user}) %>
      </div>
    </div>

    <div class="span-11">
      <div class="box">
      <h3>Friends</h3>
      <ul>
      <% if @user.friends.empty? %>
        <li><%= h @user.name%> has no friends in urbantakeover</li>
      <% else %>  
        <li>Friends: <%= @user.friends.collect {|f| format_user f }.join(", ") %></li>
      <% end %>
      <% unless @user.friends_of.empty? %>
        <li>Friends of: <%= @user.friends_of.collect {|f| format_user f }.join(", ") %></li>
      <% end %>
      <% unless @user.twittername.empty? %>
        <li>See also: <a href="http://twitter.com/<%= h @user.twittername %>/friends"><%= h @user.twittername %></a>'s friends on Twitter</li>
      <% end %>
      <% unless @user.flickr.empty? %>
        <li>See also: <a href="http://flickr.com/people/<%= h @user.flickr %>/contacts/"><%= h @user.flickr %></a>'s friends on Flickr</li>
      <% end %>
      </ul>
      </div>
    </div>
  </div>
  
  <div class="span-23">
    <%= show_map @user.spots, :wide %>
  </div>
</div>