<h2><%= format_user @user %> <% if @user.team %> of team <%= format_team @user.team %> <% end -%></h2>
<% if logged_in? and current_user.is_admin? %>
 <%= link_to 'edit', :action => :edit, :id => @user %> |
<% end %>
<%= link_to "add as friend", :controller => 'user', :action => 'add_friend', :id => @user.id %>

<h3>Score: <%= format_user_score @user %></h3>


<h2>Friends</h2>
<ul>
<% unless @user.friends.empty? %>
  <li>Friends: <%= @user.friends.collect {|f| format_user f }.join(", ") %></li>
<% end %>

<% unless @user.friends_of.empty? %>
  <li>Friends of: <%= @user.friends_of.collect {|f| format_user f }.join(", ") %></li>
<% end %>

<% unless @user.twittername.empty? %>
  <li>See also: <a href="http://twitter.com/<%= h @user.twittername %>/friends"><%= h @user.twittername %></a>'s friends on Twitter</li>
<% end %>

<% unless @user.flickr.empty? %>
  <li>See also: <a href="http://flickr.com/people/<%= h @user.flickr %>/contacts/"><%= h @user.flickr %></a>'s friends on Flickr</li>
<% end %>
</ul>


<h2><%= h @user.name%>'s Spots</h2>
<%= render(:partial => 'claims/my_spots', :locals => {:user => @user}) %>

<%= todo "DRAW MAP with this users spots/areas." %>