<div class="span-24 lrborder">
  <div class="span-23 push-1 last">
  <h2>Welcome on board!</h2>

<%= error_messages_for :user %>
<% form_for :user do |f| -%>

    <div class="span-6 colborder">
      <h3>The basic information</h3>
      <p><label for="login">Username</label><br/>
      <%= f.text_field :login, "class"=>'textfield must' %></p>

      <p><label for="password">Password</label><br/>
      <%= f.password_field :password, "class"=>'textfield must password' %></p>

      <p><label for="password_confirmation">Confirm Password</label><br/>
      <%= f.password_field :password_confirmation, "class"=>'textfield must password' %></p>
    </div>
    <div class="span-6 colborder">
      <h3>Notification?</h3>
      <p><label for="twittername">Twitter</label><br/>
      <%= f.text_field :twittername, "class"=>'textfield optional' %><br/><span class="small">Don't forget to add <%= link_to "cpu", "http://twitter.com/friendships/create/14143882"%> as friend to receive notifications.</span>
      <br/><label for="email">Email</label><br/>
      <%= f.text_field :email, "class"=>'textfield optional' %></p>
    </div>
    <div class="span-7 last">
      <h3>Are you on Flickr?</h3>
      <p><label for="flickr">Flickr Username is</label><br/>
      <%= f.text_field :flickr, "class"=>'textfield optional' %><br><span class="small">Claiming via Flickr gives more points!</span></p>
    </div>

    <div class="span-23">
    <%= submit_tag ' Sign up! ', "class"=>'submit' %>
    </div>
        	
    <div class="span-22 last">
    <hr class="space">
    <span class="smaller">And please remember: We are still an early prototype. It could get a little bumpy.. :P</span>
    </div>

<% end -%>
  </div>
</div>
