<div class="span-24 lrborder">
  <div class="span-23 push-1 last">
  <h2>Hotspots</h2>

  <p>These spots have been claimed by many users, so they might be interesting locations to visit ;)</p>

  <h3>Vienna</h3>
  <ol>
  <% for spot in @spots %>
  <li>
    <%= format_spot spot %>: <%= spot.claims.count %> claims
  </li>
  <% end %>
  </ol>

  <h3>Berlin</h3>
  <%= todo "upcoming" %>

  <h3>Warsaw</h3>
  <%= todo "upcoming" %>

  <h3>Munich</h3>
  <%= todo "upcoming" %>
  </div>
</div>