<div style="float: left; width: 450px;">
<h2><%= format_spot @spot %></h2>

<% unless @spot.stuffs.empty? %>
  Also known as: <%= @spot.stuffs.collect(&:name).join(", ") %>
<% end %>

<% if logged_in? and current_user.can_edit_spots? %>
  <%= link_to 'Edit', edit_spot_path(@spot) %>
<% end %>

<p>Address: <%= @spot.address %></p>

<% if @spot.current_owner %>
  <p>Current owner: <%= format_user @spot.current_owner %></p>
<% end %>

<% if not @spot.tupalo_link.empty? %>
  <p>On Tupalo: <%= link_to(h(@spot.name), @spot.tupalo_link) %></p>
<% end %>


<h2>Log</h2>

<%= render :partial => 'claims/log', :locals => {:claims => @spot.claims} %>

<h2>Images</h2>
<%= todo "fetch from flickr / allow for flickr claim proof uploads" %>

</div>

<div style="float: left; width: 450px;">
<%= show_map(@spots) %>
</div>