<div style="float: left; width: 450px;">
<h2><%= format_spot @spot %></h2>

<% unless @spot.stuffs.empty? %>
  Also known as: <%= @spot.stuffs.collect(&:name).join(", ") %>
<% end %>

<% if logged_in? and current_user.can_edit_spots? %>
  <%= link_to 'Edit', edit_spot_path(@spot) %>
<% end %>

<p>Address: <%= @spot.address %></p>

<% if @spot.current_owner %>
  <p>Current owner: <%= format_user @spot.current_owner %></p>
<% end %>

<h2>Log</h2>

<%= render :partial => 'claims/log', :locals => {:claims => @spot.claims} %>

<h2>Images</h2>
TODO: fetch from flickr tag
TODO: let users upload (with their stickers on the foto ^__^)

</div>

<div style="float: left; width: 450px;">
<%= show_map(@spots) %>
</div>