<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ut:// <%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="user-nav">
  <% if logged_in? %>
    <p>
    y0! <%= format_user current_user %>
    (<%= link_to "#{current_user.total_score} points", :controller => :score, :action => :my %>)
    |
    <%= link_to 'my spots', :controller => :claims, :action => :my %>
    |
    <%= link_to 'my settings', settings_url %>
    |
    <%= link_to 'log out', :controller => :user, :action => :logout %>
    </p>
    
    <%= render :partial => 'score/new_scores_flash', :locals => {:user => current_user} %>
  <% else %>
    <p>
    <%= link_to 'log in', :controller => :user, :action => :login %>
    |
    <%= link_to 'sign up', :controller => :user, :action => :signup %>
    </p>

  <% end %>
</div>

<div>
  
  <h1><a class="title" href="<%= root_url %>">urbantakeover  <span class="small">(<%= Claim.count %> up)</span></a></h1>
  <div class="menu">
  <%= link_to 'claim spot', :controller => :claims, :action => :new %>
  

  | <%= link_to 'how to play', howto_path %>
  | <%= link_to 'FAQ', faq_path %>


  <% if logged_in? %>
    <% if current_user.can_edit_spots?%>
      | <%= link_to 'spot list', :controller => :spots, :action => :index %>
    <% end %>
  <% end %>
  
  | <%= link_to 'highscore', :controller => :score, :action => :index %>
  </div>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<div id="content">
  <%= yield  %>
</div>

<div style="clear: both;"><!-- ohai, i'm the clear div to make the footer margin-top work --></div>

<div id="footer">
  <p>2008 (cc-tba) <a class="72dpiarmy" href="http://72dpiarmy.com"><span>72dpi</span>army</a> | <a href="mailto://team@urbantakeover.at">contact us</a></p>
</div>
</body>
</html>
