<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ut:// <%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div style="float:right;">
  <% if logged_in? %>
    <% if current_user.is_admin? %>
      y0! <span style="color: red"><%= h(current_user.login) %></span>
    <% else %>
     hello <%= h(current_user.login) %> 
    <% end %>
    (<%= current_user.total_score %> points)
    
    |
    <%= link_to 'profile', :controller => :user, :action => :edit, :id => current_user %>
    |
    <%= link_to 'my claims', :controller => :claims, :action => :my %>
    |
    <%= link_to 'my score', :controller => :score, :action => :my %>
    |
    <%= link_to 'log out', :controller => :user, :action => :logout %>
  <% else %>
    <%= link_to 'log in', :controller => :user, :action => :login %>
    |
    <%= link_to 'sign up', :controller => :user, :action => :signup %>
  <% end %>
</div>

<div><h1 class="title"><%= link_to 'ut', root_url %></h1>  
  <strong><%= link_to 'claim spot', :controller => :claims, :action => :new %></strong>

  <% if logged_in? %>
    <% if current_user.can_edit_spots?%>
      | <%= link_to 'spot list', :controller => :spots, :action => :index %>
    <% end %>
  <% end %>
  
  | <%= link_to 'high score list', :controller => :score, :action => :index %>
</div>

<% if logged_in? %>
  <%= render :partial => 'score/new_scores_flash', :locals => {:user => current_user} %>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
